@import './common.scss';
.left-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 195px;
  min-height: 50px;
  margin-right: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 4px 10px rgba(0, 0, 0, 0.06);
  z-index: 10;
  .myheader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
    img {
      width: 100px;
      border-radius: 50%;
    }
  }
  .info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    strong {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      color: #333;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    strong::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      width: 100%;
      margin: auto;
      background: rgba(0, 0, 0, 0.4);
      transform: scaleX(1);
      transition: all 0.2s ease-in;
    }
    strong:hover::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      width: 0;
      margin: auto;
      background: rgba(0, 0, 0, 0.4);
      transform: scaleX(1);
      transition: all 0.2s ease-in;
    }
    span {
      width: 100%;
      text-align: left;
      color: #1a1a1a;
      font-size: 14px;
    }
  }
  .nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    p {
      display: flex;
      position: relative;
      width: 100%;
      cursor: pointer;
      z-index: 1;
      transition: all 0.2s ease-in;
      &.sel-item {
        font-weight: 700;
        transition: all 0.2s ease-in;
      }
    }
    span {
      width: 100%;
      padding: 5px 20px;
      color: #333;
      text-align: center;
      font-size: 14px;
      @include ell();
      @include border-top-1px(#e6e6e6);
    }
    p:hover {
      font-weight: 700;
    }
  }
}

@keyframes bounceInLeft {
  0% {
    transform: translate3d(-70vw, 0, 0);
  }
  60% {
    transform: translate3d(0px, 0, 0);
  }
  75% {
    transform: translate3d(0px, 0, 0);
  }
  90% {
    transform: translate3d(0px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
